/*text fonts*/
@font-face {
    font-family: 'text';
    src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'text-bold';
    src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'text-black';
    src: url(../fonts/lato/Lato-Black.ttf);
}
@font-face {
    font-family: 'text-italic';
    src: url(../fonts/lato/Lato-Italic.ttf);
}

/*jenna fonts*/
@font-face {
    font-family: 'script';
    src: url(../fonts/playlist_script/playlist_script.otf);
}
@font-face {
    font-family: 'nicky';
    src: url(../fonts/Nickainley-Normal.otf);
}