.infos{
    text-align: center;
    margin: 100px 0;
    line-height: 2em;
    font-family: 'text';
    font-size: 1.07rem;
    span{
        font-family: 'text-bold';
        color: #fff;
        letter-spacing: 2px;
    }
    p{
        color: #b7b7b7;
    }
}